body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FA;
    min-height: 100vh;
}
header {
    background-color: #343A40;
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    min-width:100vh;


}
.rightHead {
    margin-right: 30px;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap:20px;

}
.maintain {
    background-color: rgba(114, 114, 114, 0.2);
    border-radius: 50px;
    padding: 0px 15px;
}
.middleHead {
    gap: 20px;
}

.maintainIcon {
    margin-right: 10px;
}

#designation {
    opacity: .6;
}
.user > p {
    margin: 0;
}
.middleHead ,.nav {
    display: flex;
    justify-content: center;
    align-items: center;

}
.leftHead {
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap:5px;
    flex: 0 1 350px;

}
#grave{
    color: #024102;
    font-size: 25px;
    font-weight: 900;
}
.main {
    display: flex;
    justify-content: start;
    flex: 1;
    flex-wrap: wrap;

}
.progress{
    padding: 30px;
    margin-left: 20px;
    margin-right: 100px;
}
#mainInput {
    width: 625px;
    background-color: white;
    margin-top: 50px;
    padding: 10px 30px 30px;
    border-radius: 10px;
    height: 100%;
    
}

hr{
    opacity: .6;
}
#mainInput > h1 {
    font-size: 27px;
     
}


#mainInput > p {
    font-size: 13px;
    color: #343A40;
}

#input {
    display: flex;
    width: 625px;
    flex-grow: 0;
    gap: 30px;
    font-size: 20px;
    margin-bottom: 30px;


}
select{
    width: 285px;
    padding: 10px;
    font-size:17px;
    border-radius: 10px;
    border: 1px solid #D3D7DC;
    color: #7e7e7e;

}
input {
    width: 260px;
    padding: 10px;
    font-size:17px;
    border-radius: 10px;
    border: 1px solid #D3D7DC;
}

#next, #cancel {
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    color: white;
    margin: 5px;

}
#cancel{
    background-color: #7e7e7e;    
    padding: 15px 20px;


}
#next {
    background-color: #88c396;
    padding: 15px 28px;

}
footer{
    background-color: #6C757D;
    display: flex;
    color: white;
    align-items: end;
    height: 70px;
    min-width:100vh;

}
#copyRight {
    margin-left: 30px;

}
#foot {
    height: 60px;
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin-right: 50px;
    align-items: center;


}

.customBullet {
    list-style-type: none;
}

  .logo {
    margin-right: 10px;
  }
  .logoMid {
    margin-right: 10px;
  }
  .progressive {
    width: 200px;
  }
  select {

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-position: 260px;

  }

